---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', Tahoma, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7em;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #5badf0;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-spacing: 1em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: em(860) !default;
$base-font-color: $dark-gray !default;
$pagination-border-color: $base-border-color;
$pagination-border: 1px solid $pagination-border-color;
$pagination-background: lighten($pagination-border-color, 10);
$pagination-hover-background: lighten($pagination-background, 5);
$pagination-color: $base-font-color;
$gutter: 15px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.previous,
.page_number,
.next {
  background: $pagination-background;
  border-radius: $base-border-radius;
  border: $pagination-border;
  color: $pagination-color;
  outline: none;
  padding: ($base-spacing / 4) ($gutter / 2);
  text-decoration: none;
  display: inline-block;
  width: 85px;
  text-align: center;
  margin: 0 0.5em;
}

.pagination-wrapper {
  width: auto;
  .pagination {
    display: table;
    margin: 0 auto;
  }
}
